<mat-card class="card">
    <mat-tab-group [selectedIndex]="selectedIndex" color="primary">
        <mat-tab label="Dane podstawowe">
            <app-apartment-edit></app-apartment-edit>
        </mat-tab>
        <mat-tab label="Dostawcy">
            <app-housing-provider-apartment-list [apartmentId]="this.apartmentId"></app-housing-provider-apartment-list>
        </mat-tab>
        <mat-tab label="Liczniki">
            <app-meter-card-view [apartmentId]="this.apartmentId"></app-meter-card-view>
        </mat-tab>
    </mat-tab-group>
</mat-card>

