<form [formGroup]="tenantForm">
    <div>
        <mat-form-field appearance="outline">
            <mat-label>Imię</mat-label>
            <input matInput formControlName="firstname">
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Nazwisko</mat-label>
            <input matInput formControlName="lastname">
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Adres email</mat-label>
            <input matInput formControlName="email">
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Numer konta bankowego</mat-label>
            <input matInput formControlName="accountNumber">
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Numer telefonu</mat-label>
            <input matInput formControlName="phoneNumber">
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>{{ 'apartment.street' | translate }}</mat-label>
            <input matInput formControlName="streetName">
            <mat-error *ngIf="streetName?.invalid && (streetName?.dirty || streetName?.touched)">
                {{getStreetNameErrorMsg()}}
            </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>{{ 'apartment.buildingNumber' | translate }}</mat-label>
            <input matInput formControlName="buildingNumber">
            <mat-error *ngIf="buildingNumber?.invalid && (buildingNumber?.dirty || buildingNumber?.touched)">
                {{getBuildingNumberErrorMsg()}}
            </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>{{ 'apartment.apartmentNumber' | translate }}</mat-label>
            <input matInput formControlName="apartmentNumber">
            <mat-error *ngIf="apartmentNumber?.invalid && (apartmentNumber?.dirty || apartmentNumber?.touched)">
                {{getApartmentNumberErrorMsg()}}
            </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>{{ 'apartment.zipCode' | translate }}</mat-label>
            <input matInput formControlName="zipCode">
            <mat-error *ngIf="zipCode?.invalid && (zipCode?.dirty || zipCode?.touched)">
                {{getZipCodeErrorMsg()}}
            </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>{{ 'apartment.cityName' | translate }}</mat-label>
            <input matInput formControlName="cityName">
            <mat-error *ngIf="cityName?.invalid && (cityName?.dirty || cityName?.touched)">
                {{getCityNameErrorMsg()}}
            </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>{{ 'apartment.voivodeship' | translate }}</mat-label>
            <input matInput formControlName="voivodeship">
            <mat-error *ngIf="voivodeship?.invalid && (voivodeship?.dirty || voivodeship?.touched)">
                {{getVoivodeshipErrorMsg()}}
            </mat-error>
        </mat-form-field>

        

        <button mat-flat-button style="background-color: black; color: white;" (click)="submit()">Zapisz</button>
    </div>
</form>
