.container {
    position: relative;
    padding: 20px;
}

table {
    width: 100%;
}
  
.table-container {
    border-style: solid;
    border-width: 0.1px;
    border-color: rgba(0, 0, 0, 0.12);
}

.mat-column-apartment {
    border-right: 1px solid rgba(0, 0, 0, 0.12);
}

.mat-column-rentedObject {
    border-right: 1px solid rgba(0, 0, 0, 0.12);
}

.mat-column-tenantName {
    border-right: 1px solid rgba(0, 0, 0, 0.12);
}

.mat-column-tenantSurname {
    border-right: 1px solid rgba(0, 0, 0, 0.12);
}

.mat-column-lastSettlementDate {
    border-right: 1px solid rgba(0, 0, 0, 0.12);
}

.mat-column-lastSettlementTotalAmount {
    border-right: 1px solid rgba(0, 0, 0, 0.12);
}

.mat-column-actions {
    width: 180px;
    text-align: center;
}

::ng-deep .mat-mdc-paginator-container {
    padding: 30px 0 10px 0 !important;
}

.fast-searcher {
    display: flex;
    justify-content: flex-end;
}