
// .credit-card-box {
//     width: 400px;
//     height: 260px;
//     border-radius: 12px;
//     background: white;
//     position: relative;
  
//     .front {
//       width: 400px;
//       height: 250px;
//       backface-visibility: hidden;
//       position: absolute;
//       color: #fff;
//       top: 0;
//       left: 0;
//       text-shadow: 0 1px 1px hsla(0, 0, 0, 0.3);
//       box-shadow: 0 1px 6px hsla(0, 0, 0, 0.3);
//       overflow: hidden;
//       border-radius: 12px;
  
//       &::before {
//         content: '';
//         position: absolute;
//         width: 100%;
//         height: 100%;
//         top: 105px;
//         left: 0;
//         background-color: #0e215a;
//         background-image: linear-gradient(to bottom, #0e215a 0%, royalblue 60%);
//         background-size: cover;
//         opacity: 1;
//       }
//     }
  
//     .logo {
//       font-size: 20px;
//       font-weight: bold;
//       text-transform: uppercase;
//       position: absolute;
//       top: 0;
//       transform: translateX(20%) translateY(90%);
//       left: 0px;
//       border-radius: 4px;
//       padding: 8px 12px;
//       background: #b4f5bd;
//       color: #171717;
//     }
    
  
//     .wave {
//       position: absolute;
//       top: 30px;
//       left: 0;
//       right: 0;
  
//       svg path {
//         fill: #0e215a;
//       }
//     }
  
//     .front {
//       z-index: 2;
//       transform: rotateY(0deg);
//     }
  
//     .strip {
//       background: linear-gradient(135deg, hsl(0, 0, 25%), hsl(0, 0, 10%));
//       position: absolute;
//       width: 100%;
//       height: 50px;
//       top: 30px;
//       left: 0;
//     }
  
//     .number {
//       position: absolute;
//       margin: 0 auto;
//       top: 103px;
//       left: 19px;
//       font-size: 38px;
      
//     }
  
//     label {
//       font-size: 12px;
//       letter-spacing: 1px;
//       text-shadow: none;
//       text-transform: uppercase;
//       font-weight: normal;
//       opacity: 1;
//       display: block;
//       margin-bottom: 3px;
//       color: #fff;
//     }
  
  
//     .card-holder,
//     .card-expiration-date {
//       position: absolute;
//       margin: 0 auto;
//       top: 160px;
//       left: 19px;
//       font-size: 22px;
//       text-transform: capitalize;
//       color: #fff;
//     }
  
//     .card-expiration-date {
//       text-align: right;
//       left: auto;
//       right: 20px;
//       color: #fff;
//     }
  
//     .card-number {
//       font-size: 18px;
//       margin-bottom: 12px;
//       font-weight: bold;
//       color: #fff;
//     }
  
//     .ccv {
//       height: 36px;
//       width: 91%;
//       border-radius: 5px;
//       top: 110px;
//       left: 0;
//       right: 0;
//       position: absolute;
//       margin: 0 auto;
//       color: #000;
//       text-align: right;
//       padding: 10px;
//       color: #fff;
  
//       label {
//         margin: -25px 0 14px;
//         color: #fff;
//       }
//     }
  
  
//   }

.credit-card-box {
    width: 350px;
    height: 228px;
    border-radius: 10px;
    background: white;
    position: relative;
  
    .front {
      width: 350px;
      height: 218px;
      backface-visibility: hidden;
      position: absolute;
      color: #fff;
      top: 0;
      left: 0;
      text-shadow: 0 1px 1px hsla(0, 0, 0, 0.3);
      box-shadow: 0 1px 6px hsla(0, 0, 0, 0.3);
      overflow: hidden;
      border-radius: 12px;
  
      &::before {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        //top: 105px;
        z-index: -1;
        left: 0;
        //background-color: #0e215a;
        background-image: linear-gradient(to bottom, #E1C564 0%, #aa8c21 60%);
        background-image: linear-gradient(to bottom, #1f1f1f 0%, #505050 60%);
        //background-image: linear-gradient(to bottom, #0e215a 0%, royalblue 60%);
        background-size: cover;
        opacity: 1;
      }
    }
  
    // .logo {
    //   font-size: 20px;
    //   font-weight: bold;
    //   text-transform: uppercase;
    //   position: absolute;
    //   top: 0;
    //   transform: translateX(15%) translateY(90%);
    //   left: 0px;
    //   border-radius: 4px;
    //   padding: 8px 12px;
    //   background: #b4f5bd;
    //   color: #171717;
    // }
    
    .visa{
      top: 5px;
      right: 20px;
      position: absolute;
      width: 80px;
      z-index: 2;
    }
  
    .chip{
      top: 23px;
      left: 25px;
      position: absolute;
      width: 50px;
      z-index: 2;
    }

    // .wave {
    //   position: absolute;
    //   top: 30px;
    //   left: 0;
    //   right: 0;
  
    //   svg path {
    //     fill: #0e215a;
    //   }
    // }
  
    .front {
      z-index: 1;
      transform: rotateY(0deg);
    }
  
    .strip {
      background: linear-gradient(135deg, hsl(0, 0, 25%), hsl(0, 0, 10%));
      position: absolute;
      width: 100%;
      height: 40px; 
      top: 25px;
      left: 0;
    }
  
    .number {
      position: absolute;
      margin: 0 auto;
      top: 70px; 
      left: 20px; 
      font-size: 20px;
      font-family: 'CreditCard';
    }
  
    label {
      font-size: 14px;
      font-family: 'CreditCard';
      letter-spacing: 1px;
      text-shadow: none;
      text-transform: uppercase;
      font-weight: normal;
      opacity: 1;
      display: block;
      margin-bottom: 3px;
      color: #fff;
    }
  
  
    .card-holder,
    .card-expiration-date {
      position: absolute;
      margin: 0 auto;
      top: 110px; 
      left: 25px; 
      font-size: 18x; 
      text-transform: capitalize;
      color: #fff;
    }
  
    .card-expiration-date {
      text-align: right;
      top: 170px;
      left: auto;
      right: 40px;
      opacity: 0.8;
      font-style: 16px;
    }
  
    .card-number {
      font-size: 18px;
      margin-bottom: 40px;
      opacity: 0.8;
    }
  
    .ccv {
      height: 30px;
      width: 91%;
      border-radius: 5px;
      top: 90px;
      left: 0;
      right: 0;
      position: absolute;
      margin: 0 auto;
      color: #000;
      text-align: right;
      padding: 8px;
      color: #fff;
  
      label {
        margin: -25px 0 14px;
        color: #fff;
      }
    }
  
  
  }