::ng-deep .snackbarError{
    --mdc-snackbar-container-color: rgb(204, 0, 0);
}


::ng-deep .mat-mdc-snack-bar-container {
    --mdc-snackbar-supporting-text-size: 15px !important;
}

::ng-deep .mat-mdc-snack-bar-label .mdc-snackbar__label{
    display: flex;
    justify-content: center;
}