<p>apartment works!</p>
<div>
   <p *ngIf="apartment">
      Country: {{apartment.country}}
      <br>
      Street: {{apartment.street}}
   </p>
   <p *ngIf="!apartment">Loading data...</p>
</div>

<!-- Tymczasowe pole formularza do testowania -->
<div class="example-container">
   <mat-form-field>
     <mat-label>Enter your email</mat-label>
     <input matInput placeholder="pat@example.com" [formControl]="email" required>
     <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
   </mat-form-field>
 </div>
