body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
}

.home {
    background-image: url('/assets/image/login-image.png');
    background-size: cover; 
    background-repeat: no-repeat;
    background-position: center center;
    /* Twoje istniejące style dla .home... */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    gap: 10px;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 5px;
}

.login-container {
    width: 350px;
    text-align: center;
}

.login-form {
    background-color: white;
    border-radius: 5px;
    width: 500px;
    height: 300px;
    display: flex;          /* Dodano display flex */
    flex-direction: column; /* Dodano kierunek kolumny */
    justify-content: center;/* Aby elementy były wyśrodkowane w pionie */
    align-items: center;    /* Aby elementy były wyśrodkowane w poziomie */
}

.login-controls {
    display: flex;
    flex-direction: column;
    align-items: center;    /* Wyśrodkowanie elementów w poziomie */
    gap: 10px;              /* Odstępy pomiędzy elementami */
}

