<div class="home">
    <div class="login-form">
        <div class="login-controls">
            <div class="logo-container">
                <div class="logo">
                    <mat-icon>person</mat-icon>
                </div>
                <div class="logo-text">
                    <span>Witaj w Rentowne</span>
                    <p>Podaj dane logowania, aby kontynuować</p>
                </div>
            </div>
            <div class="field-container">
                <router-outlet></router-outlet>
            </div>
        </div>
        <div style="padding-top: 15px;">
            <span>
                Nie masz konta?
            </span>
            <a routerLink="/register" class="blue-text-link">Zarejestruj się</a>
        </div>
    </div>
</div>
