body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
}

.home {
    background-image: url('/assets/image/login-image.png');
    background-size: cover; 
    background-repeat: no-repeat;
    background-position: center center;
}




