<div class="login-form" *ngIf="!authResponse.mfaEnabled">
    <div class="login-controls">
        <div class="logo-container">
            <div class="logo">
                <mat-icon>person</mat-icon>
            </div>
            <div class="logo-text">
                <span>Witaj w Rentowne</span>
                <p>Podaj dane logowania, aby kontynuować</p>
            </div>
        </div>
        <div class="field-container">
            <form [formGroup]="formGroup" class="form" (submit)="submit()">
                <div *ngIf="loginError" class="error">Podaj poprawne dane logowania</div>
                <mat-form-field appearance="outline">
                    <mat-label>Adres e-mail</mat-label>
                    <input matInput formControlName="email">
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Hasło</mat-label>
                    <input type="password" matInput formControlName="password">
                </mat-form-field>
                <button mat-flat-button class="button-login" style="background-color: black; color: white;">Zaloguj</button>
            </form>
        </div>
    </div>
</div>
<div class="container" *ngIf="authResponse.mfaEnabled">
    <span>Uwierzytelnianie dwuskładnikowe</span>
      <label for="validationCode">Wprowadź 6-cyfrowy kod weryfikacyjny wygenerowany przez Google Authenticator</label>
      <mat-form-field appearance="outline">
        <mat-label>Kod</mat-label>
        <input matInput type="text" id="validationCode" name="validationCode" required [(ngModel)]="otpCode">
    </mat-form-field>
    <button mat-flat-button color="primary" (click)="verifyCode()">Potwierdź kod</button>
</div>