<div class="container mat-elevation-z8">
  <div class="fast-searcher">
    <mat-form-field appearance="outline">
        <mat-icon matPrefix>search</mat-icon>
        <input matInput [formControl]="searchInput"  
                (input)="onSearchClick()" 
                placeholder="{{ 'dataTable.search' | translate }}">
        <button mat-icon-button matSuffix (click)="onCleanSearchClick()">
          <i class="fa-solid fa-xmark"></i>
            <mat-icon>close</mat-icon>
        </button>
    </mat-form-field>
  </div>


  <div class="table-container">
    <table mat-table [dataSource]="housingProviders" class="example-table" matSort>

      <!-- Kolumna ID -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header="id">{{ 'dataTable.id' | translate }}</th>
        <td mat-cell *matCellDef="let element"> {{element.id}} </td>
      </ng-container>

      <!-- Kolumna Nazwa -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header="name">Nazwa</th>
        <td mat-cell *matCellDef="let element"> {{element.name }}</td>
    </ng-container>

      <!-- Kolumna Typ -->
      <ng-container matColumnDef="type">
        <th mat-header-cell *matHeaderCellDef mat-sort-header="type">Typ</th>
        <td mat-cell *matCellDef="let element"> {{element.type | translateProviderType }} </td>
      </ng-container>

      <!-- Kolumna Zużycie -->
      <ng-container matColumnDef="tax">
        <th mat-header-cell *matHeaderCellDef mat-sort-header="tax">Podatek</th>
        <td mat-cell *matCellDef="let element">
          <ng-container *ngIf="element.tax; else noTax">
            {{ element.tax }} %
          </ng-container>
          <ng-template #noTax></ng-template>
      </td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element">
            <button mat-flat-button style="background-color: black; color: white;" [routerLink]="['/housing-providers/edit/', element.id]">Szczegóły</button>
        </td>
    </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>

  <mat-paginator 
    [pageSizeOptions]="[10, 25, 50]"
    [pageSize]="10"
    showFirstLastButtons
    [length]="totalElements">
  </mat-paginator>
      
</div>
    