.card{
    padding: 20px;
}

.btn{
    display: flex;
    gap: 5px;
    justify-content: flex-end;
}

.form-1{
    display: flex;
    gap: 5px;
    margin-top: 30px;
}
 .right-align {
    text-align: right;
 }

 ::ng-deep .mat-mdc-tab-body-content{
    overflow: hidden !important;
 }