<mat-card class="card">
    <mat-tab-group color="primary">
        <mat-tab label="Licznik">
            <form [formGroup]="meterForm">
                <div class="form-1">
                    <mat-form-field appearance="outline">
                        <mat-label>Nazwa licznika</mat-label>
                        <input matInput formControlName="name">
                        <mat-error *ngIf="name?.invalid">
                            {{getNametErrorMsg()}}
                        </mat-error>
                    </mat-form-field>
            
                    <mat-form-field appearance="outline">
                        <mat-label>Typ licznika</mat-label>
                        <mat-select formControlName="meterType">
                            <mat-option *ngFor="let meterType of meterTypes" [value]="meterType">
                                {{ meterType | translateMeterType }}
                            </mat-option>
                        </mat-select>
                        <span *ngIf="meterType?.value" matSuffix>{{meterType?.value | translateMeterUnit}}</span>
                        <mat-error *ngIf="meterType?.invalid">
                            {{ getMeterTypeErrorMsg() }}
                        </mat-error>
                    </mat-form-field>
                    
            
                    <mat-form-field appearance="outline">
                        <mat-label>Obiekt do wynajęcia</mat-label>
                        <mat-select formControlName="rentedObjectId">
                            <mat-option *ngFor="let rentedObject of rentedObjects" [value]="rentedObject.id">
                                {{rentedObject.rentedObjectName}}
                            </mat-option>
                        </mat-select>
                        <mat-error *ngIf="rentedObjectIdControl?.invalid">
                            {{getRentedObjectErrorMsg()}}
                        </mat-error>
                    </mat-form-field>
            
                    <mat-form-field appearance="outline">
                        <mat-label>Numer licznika</mat-label>
                        <input matInput formControlName="meterNumber">
                        <mat-error *ngIf="meterNumber?.invalid">
                            {{getMeterNumberErrorMsg()}}
                        </mat-error>
                    </mat-form-field>
            
                    <mat-form-field appearance="outline">
                        <mat-label>Odczyt początkowy</mat-label>
                        <input matInput formControlName="initialMeterReading" type="number">
                        <span matTextSuffix>m³&nbsp;</span>
                        <mat-error *ngIf="this.initialMeterReading?.invalid">
                            {{getInitialMeterReadingErrorMsg()}}
                        </mat-error>
                    </mat-form-field>
            
                    <mat-form-field appearance="outline">
                        <mat-label>Data montażu</mat-label>
                        <input matInput [matDatepicker]="pickerInstallationDate" formControlName="installationDate">
                        <mat-datepicker-toggle matIconSuffix [for]="pickerInstallationDate"></mat-datepicker-toggle>
                        <mat-datepicker #pickerInstallationDate></mat-datepicker>
                    </mat-form-field>
                </div>
                <div class="btn">
                    <button mat-flat-button style="background-color: black; color: white;" (click)="submit()">Zapisz</button>
                </div>
            </form>
        </mat-tab>
        <mat-tab label="Odczyt licznika">
            Najpier dodaj licznik!
        </mat-tab>
    </mat-tab-group>
</mat-card>



