
<div class="card">
    <div class="card-head">Witaj w Rentowne!</div>
    <div class="card-body">
        Witamy w Rentowne.pl – Twoim kompleksowym narzędziem do zarządzania nieruchomościami, stworzonym z myślą o najemcach oraz wynajmujących. Nasza darmowa aplikacja to nie tylko platforma dla osób i firm wynajmujących od kogoś mieszkanie czy biuro, ale także nieocenione wsparcie dla właścicieli nieruchomości.
        <br>
        <br>
        <span style="font-size: 18px; color: rgb(130, 189, 243);"><b>Dla Najemców:</b></span>
        <br>
        <span class="text-style">- Zarządzanie Umowami Najmu: </span>Ułatwiamy procesy związane z Państwa umową najmu, zapewniając szybki dostęp do wszystkich istotnych dokumentów.
        <br>
        <span class="text-style">- Rozliczenia i Płatności: </span>Automatyzuj rozliczenia z wynajmującym, śledź terminy płatności i otrzymuj przypomnienia, aby nigdy nie opóźnić się z zapłatą czynszu.
        <br>
        <span class="text-style">- Zgłaszanie Usterek i Zarządzanie Naprawami: </span>Prosty sposób na zgłaszanie problemów technicznych wynajmującemu oraz śledzenie postępów w ich naprawie.

        <br>
        <br>
        <span style="font-size: 18px; color: rgb(130, 189, 243);"><b>Dla Wynajmujących:</b></span>
        <br>
        <span class="text-style">- Zarządzanie Właściwościami: </span>Dodawaj i zarządzaj nieruchomościami w swoim portfolio, zarówno mieszkalnymi, jak i komercyjnymi.
        <br>
        <span class="text-style">- Rozliczenia z Najemcami: </span>Ułatwiamy procesy faktur i rozliczeń, zapewniając przejrzystość finansów związanych z każdą nieruchomością.
        <br>
        <span class="text-style">- Umowy Najmu i Dokumentacja: </span>Twórz, przechowuj i zarządzaj umowami najmu oraz wszelką powiązaną dokumentacją w jednym miejscu.

        <br>
        <br>
        <span style="font-size: 18px; color: rgb(130, 189, 243);"><b>Dodatkowe Funkcje:</b></span>
        <br>
        <span class="text-style">- Komunikacja z Najemcami: </span>Uprość komunikację z najemcami za pomocą wbudowanego systemu wiadomości.
        <br>
        <span class="text-style">- Analizy i Raporty: </span>Generuj raporty i analizy dotyczące rentowności Twoich nieruchomości, wykorzystania przestrzeni oraz innych kluczowych wskaźników.
        <br>
        <span class="text-style">- Bezpieczeństwo Danych: </span>Zapewniamy wysoki poziom bezpieczeństwa danych, aby Twoje informacje były zawsze chronione.

    </div>
</div>
<div class="card">
    <div class="card-head">Co nowego w aplikacji?</div>
    <div class="card-body">
        <span class="text-style">- Dodawanie Mieszkań i Obiektów do Wynajęcia: </span>Użytkownicy mogą łatwo dodawać do systemu nieruchomości przeznaczone do wynajmu.
         Ta opcja umożliwia zawarcie informacji o lokalizacji, powierzchni, liczbie pokoi/kawalerek.
         <br>
         <span class="text-style">- Załączanie Pliku Graficznego: </span> Do każdej nieruchomości można przypisać jeden wybrany plik graficzny, taki jak zdjęcie czy plan mieszkania.
          Daje to możliwość zaprezentowania kluczowych cech i wyglądu nieruchomości w sposób zwięzły i atrakcyjny, co może pomóc w wyróżnieniu mieszkania na tle innych.
          <br>
          <span class="text-style">- Lista mieszkań: </span> 
          Możliwość filtrowania nieruchomości według różnych kryteriów, takich jak status wynajęcia,
           liczba umów najmu, czy lokalizacja, umożliwia użytkownikom szybkie znalezienie mieszkania odpowiadającego ich potrzebom. Dzięki wbudowanej wyszukiwarce można natychmiast znaleźć konkretne mieszkanie używając kluczowych słów,
            co znacznie skraca czas potrzebny na przeglądanie listy. Lista nieruchomości jest wyposażona w paginację, co ułatwia zarządzanie dużymi zbiorami danych i poprawia wydajność aplikacji poprzez ładowanie tylko aktualnie
             wyświetlanej strony wyników. Użytkownicy mogą sortować mieszkania według różnych parametrów, co pozwala na lepsze zorganizowanie wyświetlanych danych i szybkie dotarcie do interesujących ofert.
</div>