
.text-style {
    color: rgb(130, 189, 243);
    font-weight: bold;
}

.card {
    display: flex;
    flex-direction: column;
    border-radius: .5rem;
    background-color: #fff;
    margin: 1.25rem 0 1.25rem 0;
    box-shadow: 0 .25rem .5rem #e6edef;
    color: #495057;

    .card-head {
        padding: 1rem 1.5rem;
        border-bottom: 1px solid #edf1f7;
        font-size: 1rem;
        font-weight: 600;
        // background-color: #556ee640;
        // color: #556ee6;
    }

    .card-body {
        padding: 1rem 1.5rem; 
    }
}