
<div class="card">
    <div class="card-head">Witaj w Rentowne!</div>
    <div class="card-body">
        Witamy w Rentowne.pl – Twoim kompleksowym narzędziem do zarządzania nieruchomościami, stworzonym z myślą o najemcach oraz wynajmujących. Nasza darmowa aplikacja to nie tylko platforma dla osób i firm wynajmujących od kogoś mieszkanie czy biuro, ale także nieocenione wsparcie dla właścicieli nieruchomości.
        <br>
        <br>
        <span style="font-size: 18px; color: rgb(130, 189, 243);"><b>Dla Najemców:</b></span>
        <br>
        <span class="text-style">- Zarządzanie Umowami Najmu: </span>Ułatwiamy procesy związane z Państwa umową najmu, zapewniając szybki dostęp do wszystkich istotnych dokumentów.
        <br>
        <span class="text-style">- Rozliczenia i Płatności: </span>Automatyzuj rozliczenia z wynajmującym, śledź terminy płatności i otrzymuj przypomnienia, aby nigdy nie opóźnić się z zapłatą czynszu.
        <br>
        <span class="text-style">- Zgłaszanie Usterek i Zarządzanie Naprawami: </span>Prosty sposób na zgłaszanie problemów technicznych wynajmującemu oraz śledzenie postępów w ich naprawie.

        <br>
        <br>
        <span style="font-size: 18px; color: rgb(130, 189, 243);"><b>Dla Wynajmujących:</b></span>
        <br>
        <span class="text-style">- Zarządzanie Właściwościami: </span>Dodawaj i zarządzaj nieruchomościami w swoim portfolio, zarówno mieszkalnymi, jak i komercyjnymi.
        <br>
        <span class="text-style">- Rozliczenia z Najemcami: </span>Ułatwiamy procesy faktur i rozliczeń, zapewniając przejrzystość finansów związanych z każdą nieruchomością.
        <br>
        <span class="text-style">- Umowy Najmu i Dokumentacja: </span>Twórz, przechowuj i zarządzaj umowami najmu oraz wszelką powiązaną dokumentacją w jednym miejscu.

        <br>
        <br>
        <span style="font-size: 18px; color: rgb(130, 189, 243);"><b>Dodatkowe Funkcje:</b></span>
        <br>
        <span class="text-style">- Komunikacja z Najemcami: </span>Uprość komunikację z najemcami za pomocą wbudowanego systemu wiadomości.
        <br>
        <span class="text-style">- Analizy i Raporty: </span>Generuj raporty i analizy dotyczące rentowności Twoich nieruchomości, wykorzystania przestrzeni oraz innych kluczowych wskaźników.
        <br>
        <span class="text-style">- Bezpieczeństwo Danych: </span>Zapewniamy wysoki poziom bezpieczeństwa danych, aby Twoje informacje były zawsze chronione.

    </div>
</div>
<div class="card">
    <div class="card-head">Co nowego w aplikacji?</div>
    <div class="card-body">
        - Możliwość zakładania kont oraz implementacji dwuskładnikowego uwierzytelnienia za pomocą Google Authenticator, oraz odzyskiwanie hasła poprzez wygenerowany link email 🔐
        <br/>
        - Dodawanie, edycję oraz zarządzanie nieruchomościami i lokatorami, w tym łatwe przypisywanie dostawców usług i liczników do poszczególnych nieruchomości 🏢➕
        <br/>
        - Możliwość dodawania zdjęć oraz ich dopasowywania 🖼️
        <br/>
        - Wyświetlania danych, w tym stronicowanie, filtrowanie i sortowanie zaimplementowane za pomocą QueryDsl 🔍
        <br/>
        - Integrację z systemem płatności Przelewy24, ułatwiającą szybkie rozliczenia 💳
        <br/>
        - Możliwość eksportu danych do formatu CSV oraz analizę rozliczeń za pomocą wykresów słupkowych 📊
        <br/>
        - Personalizację ustawień aplikacji, w tym zmianę języka interfejsu oraz personalizację profilu użytkownika ⚙️🌐
        <br/>
        - Przeglądanie opłaconych i nieopłaconych rozliczeń w przejrzystej formie tabelarycznej 💼
        <br/>
        - Bezpośrednią możliwość opłacania świadczeń przez system Przelewy24 💰
        
</div>