//======================================================BUTTON======================================================

::ng-deep .mat-mdc-unelevated-button.mat-primary {
    --mdc-filled-button-container-color: #14539A !important;
    --mdc-filled-button-label-text-color: #FFFFFF;
}

//============================================================================================================

//=======================================================CHECKBOX===============================================================================

::ng-deep .mat-mdc-checkbox .mdc-checkbox--selected ~ .mdc-checkbox__ripple {
    // background: rgb(0, 0, 0) !important;1
    background: transparent !important;
}

// Change checkbox inner icon width, height, color & position change
::ng-deep .mat-mdc-checkbox .mdc-checkbox .mdc-checkbox__native-control:enabled~.mdc-checkbox__background .mdc-checkbox__checkmark {
    color: #000000 !important;
    // width: 15px;
    // height: 15px;
    // margin: auto auto;
}


 /* Change Checkbox Background & Border Color for primary Color */
::ng-deep .mat-mdc-checkbox.mat-primary .mdc-checkbox .mdc-checkbox__native-control:enabled:checked ~ .mdc-checkbox__background,
.mat-mdc-checkbox.mat-primary .mdc-checkbox .mdc-checkbox__native-control:enabled.indeterminate ~ .mdc-checkbox__background,
.mat-mdc-checkbox.mat-primary .mdc-checkbox .mdc-checkbox__native-control[data-indeterminate=true]:enabled ~ .mdc-checkbox__background {
    border-color: black!important;
    background-color: transparent;
}

//Change checkbox hoover etc colors
::ng-deep .mat-mdc-checkbox.mat-primary {
    --mdc-checkbox-selected-checkmark-color: black;
    --mdc-checkbox-selected-focus-icon-color: black;
    --mdc-checkbox-selected-hover-icon-color: transparent;
    --mdc-checkbox-selected-icon-color: black;
    --mdc-checkbox-selected-pressed-icon-color: transparent;
    --mdc-checkbox-unselected-focus-icon-color: black;
    --mdc-checkbox-unselected-hover-icon-color: black;
    --mdc-checkbox-disabled-selected-icon-color: black;
    --mdc-checkbox-disabled-unselected-icon-color: black;
    --mdc-checkbox-unselected-icon-color:black;
    --mdc-checkbox-unselected-pressed-icon-color: black;
}



//=============================================================================================================================================

//================================================SNACKBAR=========================
::ng-deep .snackbarSuccess{
    --mdc-snackbar-container-color: rgb(36, 143, 36);
}
::ng-deep .snackbarError{
    --mdc-snackbar-container-color: rgb(204, 0, 0);
}

::ng-deep .mat-mdc-snack-bar-container {
    --mdc-snackbar-supporting-text-size: 15px !important;
}

::ng-deep .mat-mdc-snack-bar-label .mdc-snackbar__label{
    display: flex;
    justify-content: center;
}

//============================MAT_ERROR===================================================

::ng-deep .mat-mdc-form-field-error {
    margin-top: -3px;
    display: block;
    font-size: 10px !important;
    margin-left: -17px !important;
    margin-right: -40px !important;
  }

// ===============================================================================

// ========================MAT_CARD_===========================================
::ng-deep .mat-mdc-tab-body-content{
    overflow: hidden !important;
 }

// ============================================================================


 //change mat-input size
::ng-deep .mat-mdc-text-field-wrapper {
    height: 44px !important;
}

//change mat-form-field input height
::ng-deep .mat-mdc-input-element {
    top: -6px !important;
    position: relative !important;
}


/* //change label font position
::ng-deep .mat-mdc-text-field-wrapper .mat-mdc-form-field-flex .mat-mdc-floating-label {
    top: 15px !important;
    left: 0px;
    font-size: 12px;
} */

// zmienia rozmiar w środku wartości przed wpisaniem
::ng-deep .mat-mdc-text-field-wrapper .mat-mdc-form-field-flex .mat-mdc-floating-label {
    top: 21px !important;
    font-size: 14px;
}

::ng-deep .mat-mdc-form-field .mdc-text-field--outlined .mdc-notched-outline--upgraded .mdc-floating-label--float-above {
    top: 28px !important;
    position: relative !important;
    font-size: 14px;
    // margin-left: 4px;
    // --mat-mdc-form-field-floating-label-scale: 0.6;
    // font-weight: 300 !important;
    // background-color: red;
}
/* 
::ng-deep .mat-mdc-form-field-icon-suffix>.mat-icon {
    padding: 1px !important;
    top: 14px !important;
    right: 7px !important;
    position: absolute !important;
    z-index: 5 !important;
} */

::ng-deep .mat-mdc-focus-indicator { 
    font-size: 25px;

}


// ::ng-deep .mdc-text-field--focused:not(.mdc-text-field--disabled) .mdc-floating-label{
//     font-size: 18px !important;
//     padding: 0 10px;
// }



 .spin{
    position: fixed;
    height: 100vh;
    width: 100%;
    background: black;
    opacity: 0.7;
    z-index: 99;
    top: 0;
    left: 0;
    display: flex; /* Ustawiamy flex, aby łatwo wyśrodkować spinner */
    justify-content: center; /* Wyśrodkowanie w poziomie */
    align-items: center; /* Wyśrodkowanie w pionie */
}


