.layout{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


.form {
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 388px;
    padding: 30px 40px 30px 40px;
    border-radius: 10px;
}

.inputs{
    display: flex;
    flex-direction: column;
    gap: 4px;
    padding-top: 8px;
}

.button{
    margin: 6px 0 0px 0;
}

.button-text{
    font-size: 18px;
    text-align: center;
    letter-spacing: -0.01px;
    font-weight: 700;
}

.mat-mdc-unelevated-button.mat-mdc-button-base, .mat-mdc-outlined-button.mat-mdc-button-base {
    min-height: 45px;
    padding: 12px;
}

.title-container {
    display: flex;
    padding-bottom: 10px;
}

.title-text {
    font-size: 20px;
    font-weight: 700;
    letter-spacing: -0.01px;
}

.button-send{
    margin: 6px 0 0px 0;
}

.button-send-text{
    font-size: 18px;
    text-align: center;
    letter-spacing: -0.01px;
    font-weight: 700;
}

.title-send-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-bottom: 18px;
}

.title-send-text-1 {
    font-size: 20px;
    font-weight: 700;
    letter-spacing: -0.01px;
}

.title-send-text-2 {
    font-size: 14px;
    font-weight: 400;
    letter-spacing: -0.01px;
}

.return{
    padding-bottom: 16px;
    color: #14539A;
    text-decoration: none;
}