<div class="layout">
    <form *ngIf="!hash" [formGroup]="formGroup" class="form">
        <a routerLink="/login" class="return">{{ 'send.return' | translate }}</a>
        <div class="title-send-container">
            <span class="title-send-text-1">{{ 'send.title-1' | translate }}</span>
            <span class="title-send-text-2">{{ 'send.title-2' | translate }}</span>
        </div>
        <mat-form-field appearance="outline">
            <mat-label>Adres email</mat-label>
            <input matInput formControlName="email">
            <mat-error *ngIf="email?.invalid && (email?.dirty || email?.touched)">
                {{getEmailErrorMsg()}}
            </mat-error>
        </mat-form-field>
        <button mat-flat-button color="primary" (click)="send()" class="button-send"><span class="button-send-text">{{ 'send.submit' | translate }}</span></button>
    </form>
    <form *ngIf="hash" [formGroup]="formGroupChangePassword"  class="form">
        <div class="title-container">
            <span class="title-text">{{ 'sendChangePassword.title' | translate }}</span>
        </div>
        <div class="inputs">
        <mat-form-field appearance="outline">
            <mat-label>{{ 'register.password' | translate }}</mat-label>
            <input [type]="hide ? 'password' : 'text'" matInput formControlName="password">
            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide" style="margin-bottom: 16px;">
                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
            <mat-error *ngIf="password?.invalid && (password?.dirty || password?.touched)">
                {{ getPasswordErrorMsg() }}
            </mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>{{ 'register.repeatPassword' | translate }}</mat-label>
            <input [type]="hide ? 'password' : 'text'" matInput formControlName="repeatPassword">
            <mat-error *ngIf="repeatPassword?.invalid && (repeatPassword?.dirty || repeatPassword?.touched)">
                {{ getRepeatPasswordErrorMsg() }}
            </mat-error>
        </mat-form-field>
        </div>
        <button mat-flat-button color="primary" (click)="sendChangePassword()" class="button"><span class="button-text">{{ 'sendChangePassword.submit' | translate }}</span></button>
    </form>

</div>