<div class="container mat-elevation-z8">
  <button mat-raised-button color="primary" (click)="openPopup()">Dodaj odczyt</button>
  
    <div class="table-container">
      <table mat-table [dataSource]="meterReadings" class="example-table" matSort>
  
        <!-- Kolumna Odczyt -->
        <ng-container matColumnDef="currentReading">
          <th mat-header-cell *matHeaderCellDef mat-sort-header="currentReading">Odczyt</th>
          <td mat-cell *matCellDef="let element"> {{element.currentReading | number:'1.0-2'}} m<sup>3</sup> </td>
      </ng-container>
  
        <!-- Kolumna Data odczytu -->
        <ng-container matColumnDef="readingDate">
          <th mat-header-cell *matHeaderCellDef mat-sort-header="readingDate">Data odczytu</th>
          <td mat-cell *matCellDef="let element"> {{element.readingDate | date:'yyyy-MM-dd'}} </td>
        </ng-container>
  
        <!-- Kolumna Zużycie -->
        <ng-container matColumnDef="consumption">
          <th mat-header-cell *matHeaderCellDef mat-sort-header="consumption">Zużycie</th>
          <td mat-cell *matCellDef="let element"> {{element.consumption | number:'1.0-2'}} m<sup>3</sup> </td>
        </ng-container>

        <ng-container matColumnDef="settled">
          <th mat-header-cell *matHeaderCellDef mat-sort-header="settled">Rozliczono</th>
          <td mat-cell *matCellDef="let element">
            <i *ngIf="element.settled; else notSettled" class="fas fa-check menu-icon"></i>
            <ng-template #notSettled>
              <i class="fas fa-times menu-icon"></i>
            </ng-template>
          </td>
          
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>
  
    <mat-paginator 
      [pageSizeOptions]="[6, 12, 24, 48, 96]"
      [pageSize]="6"
      showFirstLastButtons
      [length]="totalElements">
    </mat-paginator>
    <button mat-flat-button color="primary" (click)="goBack()">Powrót</button>
</div>
