<h1>Edycja mieszkania</h1>
<mat-card class="card">
    <mat-tab-group>
        <mat-tab label="Nieruchomości">
            <form [formGroup]="apartmentForm">
                <div class="form-1">
                    <mat-form-field appearance="outline">
                        <mat-label>{{ 'apartment.name' | translate }}</mat-label>
                        <input matInput formControlName="apartmentName">
                        <mat-error *ngIf="apartmentName?.invalid && (apartmentName?.dirty || apartmentName?.touched)">
                            {{getApartmentNameErrorMsg()}}
                        </mat-error>
                    </mat-form-field>
            
                    <mat-form-field appearance="outline" >
                        <mat-label>{{ 'apartment.leasesNumber' | translate }}</mat-label>
                        <input matInput type="number" formControlName="leasesNumber">
                        <mat-error *ngIf="leasesNumber?.invalid && (leasesNumber?.dirty || leasesNumber?.touched)">
                            {{getleasesNumberErrorMsg()}}
                        </mat-error>
                    </mat-form-field>
            
                    <mat-form-field appearance="outline">
                        <mat-label>{{ 'apartment.area' | translate }}</mat-label>
                        <input matInput type="number" formControlName="area">
                        <span matTextSuffix>m²&nbsp;</span>
                        <mat-error *ngIf="area?.invalid && (area?.dirty || area?.touched)">
                            {{getAreaNumberErrorMsg()}}
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="form-1">
                    <mat-form-field appearance="outline">
                        <mat-label>{{ 'apartment.street' | translate }}</mat-label>
                        <input matInput formControlName="streetName">
                        <mat-error *ngIf="streetName?.invalid && (streetName?.dirty || streetName?.touched)">
                            {{getStreetNameErrorMsg()}}
                        </mat-error>
                    </mat-form-field>
            
                    <mat-form-field appearance="outline">
                        <mat-label>{{ 'apartment.buildingNumber' | translate }}</mat-label>
                        <input matInput formControlName="buildingNumber">
                        <mat-error *ngIf="buildingNumber?.invalid && (buildingNumber?.dirty || buildingNumber?.touched)">
                            {{getBuildingNumberErrorMsg()}}
                        </mat-error>
                    </mat-form-field>
            
                    <mat-form-field appearance="outline">
                        <mat-label>{{ 'apartment.apartmentNumber' | translate }}</mat-label>
                        <input matInput formControlName="apartmentNumber">
                        <mat-error *ngIf="apartmentNumber?.invalid && (apartmentNumber?.dirty || apartmentNumber?.touched)">
                            {{getApartmentNumberErrorMsg()}}
                        </mat-error>
                    </mat-form-field>
            
                    <mat-form-field appearance="outline">
                        <mat-label>{{ 'apartment.zipCode' | translate }}</mat-label>
                        <input matInput formControlName="zipCode">
                        <mat-error *ngIf="zipCode?.invalid && (zipCode?.dirty || zipCode?.touched)">
                            {{getZipCodeErrorMsg()}}
                        </mat-error>
                    </mat-form-field>
            
                    <mat-form-field appearance="outline">
                        <mat-label>{{ 'apartment.cityName' | translate }}</mat-label>
                        <input matInput formControlName="cityName">
                        <mat-error *ngIf="cityName?.invalid && (cityName?.dirty || cityName?.touched)">
                            {{getCityNameErrorMsg()}}
                        </mat-error>
                    </mat-form-field>
            
                    <mat-form-field appearance="outline">
                        <mat-label>{{ 'apartment.voivodeship' | translate }}</mat-label>
                        <input matInput formControlName="voivodeship">
                        <mat-error *ngIf="voivodeship?.invalid && (voivodeship?.dirty || voivodeship?.touched)">
                            {{getVoivodeshipErrorMsg()}}
                        </mat-error>
                    </mat-form-field>
                </div>
                    <div class="btn">
                        <button mat-flat-button style="background-color: black; color: white;" (click)="submit()" [disabled]="!apartmentForm.dirty && !this.imageUploaded">Zapisz</button>
                        <button mat-flat-button color="warn" (click)="confirmDelete(apartment.id)">Usuń</button>
                    </div>
                    <div formArrayName="rentedObjects">
                        <div *ngFor="let rentedObject of getRentedObjectsFormArray.controls; let i = index" [formGroupName]="i">
                        <mat-form-field appearance="outline">
                            <mat-label>{{ 'rentedObject.name' | translate }}</mat-label>
                            <input matInput formControlName="rentedObjectName">
                            <mat-error *ngIf="rentedObject.get('rentedObjectName')?.invalid && (rentedObject.get('rentedObjectName')?.dirty || rentedObject.get('rentedObjectName')?.touched)">
                            {{ 'required' | translate }}
                            </mat-error>
                        </mat-form-field>
                        </div>
                    </div>
                </form>
                <img *ngIf="image" src="{{'/api/data/apartmentImage/' + image}}" width="220" height="165">
                <form [formGroup]="imageForm" (submit)="uploadFile()">
                <input type="file" [accept]="requredFileTypes" (change)="onFileChange($event)">
                <button mat-flat-button style="background-color: black; color: white;" [disabled]="!this.imageSelected">Wgraj zdjęcie</button>
            </form>
        </mat-tab>
        <mat-tab label="Liczniki">
            <app-meter-card-view [apartmentId]="this.apartmentId"></app-meter-card-view>
        </mat-tab>
    </mat-tab-group>
</mat-card>

