.layout{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


.form {
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 400px;
    padding: 30px 40px 30px 40px;
    border-radius: 10px;
}