.registerForm {
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 40px;
    width: 400px;
    border-radius: 10px;
}

.layout{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.checkbox {
    padding-bottom: 15px;
    margin-left: -10px;
}

.container {
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color: white;
    border-radius: 5px;
    gap: 10px;
}


 .mat-mdc-form-field-error {
  margin-top: -3px;
  display: block;
  color: var(--mdc-theme-error, #F44336);
  font-size: 11px;
  margin-left: -17px;
  margin-right: -40px;
}
