
<mat-card class="card">
    <mat-tab-group>
        <mat-tab label="Umowa">
            <form [formGroup]="leaseAgreementForm">
                <div class="container">
                    <mat-form-field appearance="fill">
                        <mat-label>Podaj okres umowy</mat-label>
                        <mat-date-range-input [formGroup]="leaseAgreementForm" [rangePicker]="pickerContractPeriod">
                            <input matStartDate formControlName="startContractDate" placeholder="Data początkowa">
                            <input matEndDate formControlName="endContractDate" placeholder="Data końcowa">
                        </mat-date-range-input>
                        <mat-datepicker-toggle matIconSuffix [for]="pickerContractPeriod"></mat-datepicker-toggle>
                        <mat-date-range-picker #pickerContractPeriod></mat-date-range-picker>
                        <mat-error *ngIf="this.startContractDate?.invalid">
                            {{getStartContractDateErrorMsg()}}
                        </mat-error>
                    </mat-form-field>
                    

                    <mat-form-field appearance="outline">
                        <mat-label>Kaucja</mat-label>
                        <input matInput formControlName="deposit" type="number">
                        <span matTextSuffix>zł</span>
                        <mat-error *ngIf="this.startContractDate?.invalid">
                            {{getDepositErrorMsg()}}
                        </mat-error>
                    </mat-form-field>

                    <mat-form-field appearance="outline">
                        <mat-label>Wpłacona kaucja</mat-label>
                        <input matInput formControlName="depositPaid" type="number">
                        <span matTextSuffix>zł</span>
                        <mat-error *ngIf="this.startContractDate?.invalid">
                            {{getDepositPaidErrorMsg()}}
                        </mat-error>
                    </mat-form-field>

                    <mat-form-field appearance="fill">
                        <mat-label>Termin płatności</mat-label>
                        <input matInput [matDatepicker]="pickerPaymentDueDate" formControlName="paymentDueDate">
                        <mat-datepicker-toggle matIconSuffix [for]="pickerPaymentDueDate"></mat-datepicker-toggle>
                        <mat-datepicker #pickerPaymentDueDate></mat-datepicker>
                        <mat-error *ngIf="this.startContractDate?.invalid">
                            {{getPaymentDueDateErrorMsg()}}
                        </mat-error>
                    </mat-form-field>

                    <mat-form-field appearance="outline">
                        <mat-label>Kwota czynszu</mat-label>
                        <input matInput formControlName="rentAmount" type="number">
                        <span matTextSuffix>zł</span>
                        <mat-error *ngIf="this.startContractDate?.invalid">
                            {{getRentAmountErrorMsg()}}
                        </mat-error>
                    </mat-form-field>

                    <mat-form-field appearance="outline">
                        <mat-label>Kwota odstępnego</mat-label>
                        <input matInput formControlName="compensationAmount" type="number">
                        <span matTextSuffix>zł</span>
                        <mat-error *ngIf="this.startContractDate?.invalid">
                            {{getCompensationAmountErrorMsg()}}
                        </mat-error>
                    </mat-form-field>

                    <mat-form-field appearance="outline">
                        <mat-label>Kwota za internet</mat-label>
                        <input matInput formControlName="internetFee" type="number">
                        <span matTextSuffix>zł</span>
                        <mat-error *ngIf="this.startContractDate?.invalid">
                            {{getInternetFeeErrorMsg()}}
                        </mat-error>
                    </mat-form-field>

                    <mat-form-field appearance="outline">
                        <mat-label>Opłata za gaz</mat-label>
                        <input matInput formControlName="gasDeposit" type="number">
                        <span matTextSuffix>zł</span>
                        <mat-error *ngIf="this.startContractDate?.invalid">
                            {{getGasDepositErrorMsg()}}
                        </mat-error>
                    </mat-form-field>

                    <mat-form-field appearance="outline">
                        <mat-label>Ilość wliczonej wody</mat-label>
                        <input matInput formControlName="includedWaterMeters" type="number">
                        <span matTextSuffix>m³&nbsp;</span>
                        <mat-error *ngIf="this.startContractDate?.invalid">
                            {{getIncludedWaterMetersErrorMsg()}}
                        </mat-error>
                    </mat-form-field>

                    <mat-form-field appearance="outline">
                        <mat-label>Początkowy odczyt energii</mat-label>
                        <input matInput formControlName="initialEnergyMeterReading" type="number">
                        <span matTextSuffix>kWh</span>
                        <mat-error *ngIf="this.startContractDate?.invalid">
                            {{getInitialEnergyMeterReadingErrorMsg()}}
                        </mat-error>
                    </mat-form-field>

                    <mat-form-field appearance="outline">
                        <mat-label>Początkowy odczyt wody</mat-label>
                        <input matInput formControlName="initialWaterMeterReading" type="number">
                        <span matTextSuffix>m³&nbsp;</span>
                        <mat-error *ngIf="this.startContractDate?.invalid">
                            {{getInitialWaterMeterReadingErrorMsg()}}
                        </mat-error>
                    </mat-form-field>

                    <mat-form-field appearance="outline">
                        <mat-label>Początkowy odczyt gazu</mat-label>
                        <input matInput formControlName="initialGasMeterReading" type="number">
                        <span matTextSuffix>m³&nbsp;</span>
                        <mat-error *ngIf="this.startContractDate?.invalid">
                            {{getInitialGasMeterReadingErrorMsg()}}
                        </mat-error>
                    </mat-form-field>

                    <mat-form-field appearance="fill">
                        <mat-label>Data zwrotu kaucji</mat-label>
                        <input matInput [matDatepicker]="pickerDepositReturnDate" formControlName="depositReturnDate">
                        <mat-datepicker-toggle matIconSuffix [for]="pickerDepositReturnDate"></mat-datepicker-toggle>
                        <mat-datepicker #pickerDepositReturnDate></mat-datepicker>
                    </mat-form-field>

                    <mat-form-field appearance="outline">
                        <mat-label>Kwota zwróconej kaucji</mat-label>
                        <input matInput formControlName="returnedDepositAmount" type="number">
                        <span matTextSuffix>zł</span>
                        <mat-error *ngIf="this.startContractDate?.invalid">
                            {{getReturnedDepositAmountErrorMsg()}}
                        </mat-error>
                    </mat-form-field>

                    <mat-checkbox class="checkbox" color="primary" formControlName="isContractActive">Czy aktywna umowa</mat-checkbox>

                    <button mat-flat-button style="background-color: black; color: white;" (click)="submit()">Zapisz</button>
                </div>
            </form>
        </mat-tab>
        <mat-tab label="Najemca">
            <div *ngIf="true">
                <app-tenant-edit></app-tenant-edit>
            </div>
            <div *ngIf="false">
                <app-tenant-add></app-tenant-add>
            </div>
        </mat-tab>
    </mat-tab-group>
</mat-card>