.mat-column-id {
    border-right: 1px solid rgba(0, 0, 0, 0.12);
}

.mat-column-name {
    border-right: 1px solid rgba(0, 0, 0, 0.12);
}

.mat-column-type {
    border-right: 1px solid rgba(0, 0, 0, 0.12);
}

.mat-column-tax {
    border-right: 1px solid rgba(0, 0, 0, 0.12);
}


.container {
    position: relative;
    padding: 20px;
}

table {
    width: 100%;
}
  
.table-container {
    border-style: solid;
    border-width: 0.1px;
    border-color: rgba(0, 0, 0, 0.12);
}

