:host {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    height: 100%;
}

.header {
    flex-direction: column;
}

.footer {
    flex-direction: column;
}

.content {
    padding: 20px;
    flex: 1 1 auto;
}