:host{
    display: flex;
    flex-direction: column;
    // width: 1200px;
    margin: 0 auto;
    height: 100%;
}

.header{
    flex-direction: column;
}

.footer{
    flex-direction: column;
}

.content{
    display: flex;
    padding: 20px;
    flex: 1 1 auto;
}