.card{
    padding: 30px 40px;
    display: flex;
    flex-direction: column;
}

.form{
    display: flex;
    flex-direction: column;
}

mat-form-field {
    width: 100%;
    max-width: 350px;
}

.change-password{
    padding-top: 40px;
}

 
.btn {
}

.main-container{
    display: flex;
    flex-direction: row;
    //gap: 40px;
    justify-content: space-between;
}


.container-left{
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 350px;  
}

.container-center{
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 350px;  
}

.container-right{
    //padding-top: 32px;
    display: flex;
    flex-direction: column;
}

.title-card{
  font-size: 15px;
  padding-bottom: 20px;
  text-transform: uppercase;
}

.title{
    font-size: 22px;
    font-weight: 700;
    letter-spacing: -0.1px;
    //text-transform: uppercase;
  }

.avatar-container {
    position: relative;
    display: flex;
    justify-content: center;
    padding: 30px 0;
}

.image-container {
    height: 200px;
    width: 200px;
    z-index: 1;
    border-radius: 50%;
    background-color: #fff;
    background-position: center;
    background-size: cover;
    box-shadow: 8px 7px 60px -16px rgba(15, 18, 30, 1);
    position: relative;
    
    &.avatar-placeholder{
        background-image: url('~src/assets/image/user-placeholder.jpg');
    }
}

.icon-wrapper {
    position: absolute;
    height: 40px;
    width: 40px;
    padding: .35rem;
    background-color:#2962FF;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    right: 20px;
    top: 160px;
    z-index: 2;
    cursor: pointer;

    &:hover {
        transition: all .25s;
        background-color: darken(#2962FF, 15%);
    }

    .icon {
        color: white;
    }

    label {
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    input[type='file'] {
        display: none;
    }
}

.box-shadow-avatar{
    box-shadow: 8px 7px 60px -16px rgba(15, 18, 30, 1);
}

::ng-deep .mat-mdc-slide-toggle .mdc-switch {
    width: var(--mdc-switch-track-width, 46px)!important;
}

::ng-deep .mat-mdc-slide-toggle .mdc-switch .mdc-switch__track{
    height: var(--mdc-switch-track-height, 27px)!important;
    border-radius: var(--mdc-switch-track-border-radius, 36px)!important;
}

::ng-deep .mat-mdc-slide-toggle .mdc-switch--unselected .mdc-switch__track {
    color: var(--mdc-switch-unselected-track-color, #fff)!important;
}

::ng-deep .mat-mdc-slide-toggle.mat-primary {
    --mdc-switch-selected-focus-state-layer-color: #424242;
    --mdc-switch-selected-handle-color: #fff;
    --mdc-switch-selected-hover-state-layer-color: #424242;
    --mdc-switch-selected-pressed-state-layer-color: #424242;
    --mdc-switch-selected-focus-handle-color: #fff;
    --mdc-switch-selected-hover-handle-color: #fff;
    --mdc-switch-selected-pressed-handle-color: #fff;
    --mdc-switch-selected-focus-track-color: #3BB143;
    --mdc-switch-selected-hover-track-color: #3BB143;
    --mdc-switch-selected-pressed-track-color: #3BB143;
    --mdc-switch-selected-track-color: #3BB143;
}


::ng-deep .mat-mdc-slide-toggle {
    --mdc-switch-disabled-selected-handle-color: #424242;
    --mdc-switch-disabled-unselected-handle-color: #424242;
    --mdc-switch-disabled-selected-track-color: #424242;
    --mdc-switch-disabled-unselected-track-color: #424242;
    --mdc-switch-unselected-focus-state-layer-color: #424242;
    --mdc-switch-unselected-pressed-state-layer-color: #424242;
    --mdc-switch-unselected-hover-state-layer-color: #424242;
    --mdc-switch-unselected-focus-track-color: #e0e0e0;
    --mdc-switch-unselected-hover-track-color: #e0e0e0;
    --mdc-switch-unselected-pressed-track-color: #e0e0e0;
    --mdc-switch-unselected-track-color: #e0e0e0;
    --mdc-switch-unselected-focus-handle-color: #fff;
    --mdc-switch-unselected-hover-handle-color: #fff;
    --mdc-switch-unselected-pressed-handle-color: #fff;
    --mdc-switch-handle-surface-color: var(--mdc-theme-surface, #fff);
    --mdc-switch-unselected-handle-color: #fff;
}

::ng-deep .mat-mdc-slide-toggle .mdc-switch--unselected .mdc-switch__handle{
    left: var(--mdc-switch-handle-left, 3px)!important;
}

::ng-deep .mat-mdc-slide-toggle .mdc-switch--selected .mdc-switch__handle{
    left: var(--mdc-switch-handle-left, -3px)!important;
}

::ng-deep .mat-mdc-slide-toggle .mdc-switch .mdc-switch__icon{
    opacity: var(--mdc-switch-icon-opacity, 0)!important;
}

::ng-deep .mat-mdc-slide-toggle .mdc-form-field {
    gap: var(--mdc-form-field-padding, 5px)!important;
}


  
  .layout-column {
    display: flex;
    flex-direction: column;
  }

  
  .layout-row {
    display: flex;
    flex-direction: row;
  }
  
  .flex {
    display: flex;
    gap: 5px;
  }
  
  .small-field {
    width: 100%;
    max-width: 110px;
}
  
  .card {
    background: white;
    box-shadow: 0 1px 6px rgb(0 0 0 / 30%);
    border-radius: 4px;
  }
  
  .card-container {
    padding: 8px;
  }
  
  label {
    font-size: 12px;
    color: #0f0f0f;
  }
  
  .pa-50 {
    padding: 50px;
  }
  
  .mt-20 {
    margin-top: 20px;
  }
  
  
  .error-text {
    margin-bottom: 0;
    min-height: 16px;
  }
  
//   .card-container {
//     position: relative;
//     margin-top: 200px;
//   }
  
  .card-info {
    justify-content: space-between;
  }

  
  credit-card {
    position: absolute;
    top: -215px;
    left: 50%;
    transform: translateX(-50%);
  }




