<mat-card class="card">
    <form [formGroup]="form" class="form">
        <div class="main-container">
            <mat-card class="container-left">
                <div class="title">
                    {{ 'profile.title' | translate }}
                </div>
                <div class="avatar-container">
                    <div class="image-container" *ngIf="file; else placeholder"
                         [ngClass]="{'box-shadow-avatar': !!file}"
                         [ngStyle]="{backgroundImage: 'url(' + file + ')'}">
                
                    <label for="avatar-input-file">
                        <div class="icon-wrapper">
                            <input type="file" id="avatar-input-file" [accept]="requredFileTypes" (change)="onFileChange($event)" />
                            <mat-icon class="icon" fontIcon="edit"></mat-icon>
                        </div>
                    </label>
                    </div>
                    <ng-template #placeholder>
                        <div class="image-container avatar-placeholder"></div>
                    </ng-template>
                </div>
                <mat-form-field appearance="outline">
                    <mat-label>{{ 'register.name' | translate }}</mat-label>
                    <input matInput formControlName="firstname">
                    <mat-error *ngIf="firstname?.invalid && (firstname?.dirty || firstname?.touched)">
                        {{ getFirstNameErrorMsg() }}
                    </mat-error>
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>{{ 'register.surname' | translate }}</mat-label>
                    <input matInput formControlName="lastname">
                    <mat-error *ngIf="lastname?.invalid && (lastname?.dirty || lastname?.touched)">
                        {{ getLastNameErrorMsg() }}
                    </mat-error>
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>{{ 'register.email' | translate }}</mat-label>
                    <input matInput formControlName="email">
                </mat-form-field>
                <mat-slide-toggle color="primary" [formControl]="changePasswordControl">Zmień hasło</mat-slide-toggle>
                <div class="change-password">
                    <mat-form-field appearance="outline" *ngIf="this.changePassword?.value">
                        <mat-label>{{ 'profile.oldPassword' | translate }}</mat-label>
                        <input [type]="oldPasswordHide ? 'password' : 'text'" matInput formControlName="oldPassword">
                        <button mat-icon-button matSuffix (click)="oldPasswordHide = !oldPasswordHide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="oldPasswordHide">
                            <mat-icon>{{oldPasswordHide ? 'visibility_off' : 'visibility'}}</mat-icon>
                        </button>
                        <mat-error *ngIf="oldPassword?.invalid && (oldPassword?.dirty || oldPassword?.touched)">
                            {{ getOldPasswordErrorMsg() }}
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field appearance="outline" *ngIf="this.changePassword?.value">
                        <mat-label>{{ 'profile.newPassword' | translate }}</mat-label>
                        <input [type]="passwordHide ? 'password' : 'text'" matInput formControlName="password">
                        <button mat-icon-button matSuffix (click)="passwordHide = !passwordHide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="passwordHide">
                            <mat-icon>{{passwordHide ? 'visibility_off' : 'visibility'}}</mat-icon>
                        </button>
                        <mat-error *ngIf="password?.invalid && (password?.dirty || password?.touched)">
                            {{ getPasswordErrorMsg() }}
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field appearance="outline" *ngIf="this.changePassword?.value">
                        <mat-label>{{ 'profile.repeatPassword' | translate }}</mat-label>
                        <input [type]="repeatPasswordHide ? 'password' : 'text'" matInput formControlName="repeatPassword">
                        <button mat-icon-button matSuffix (click)="repeatPasswordHide = !repeatPasswordHide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="repeatPasswordHide">
                            <mat-icon>{{repeatPasswordHide ? 'visibility_off' : 'visibility'}}</mat-icon>
                        </button>
                        <mat-error *ngIf="repeatPassword?.invalid && (repeatPassword?.dirty || repeatPassword?.touched)">
                            {{ getRepeatPasswordErrorMsg() }}
                        </mat-error>
                    </mat-form-field>
                </div>
            </mat-card>
            <div class="container-center">
                <mat-card class="container-center-top">
                    <mat-form-field appearance="outline">
                        <mat-label>{{ 'apartment.street' | translate }}</mat-label>
                        <input matInput formControlName="streetName">
                        <mat-error *ngIf="streetName?.invalid && (streetName?.dirty || streetName?.touched)">
                        {{getStreetNameErrorMsg()}}
                    </mat-error>
                </mat-form-field>
              
                <mat-form-field appearance="outline">
                        <mat-label>{{ 'apartment.buildingNumber' | translate }}</mat-label>
                        <input matInput formControlName="buildingNumber">
                    <mat-error *ngIf="buildingNumber?.invalid && (buildingNumber?.dirty || buildingNumber?.touched)">
                        {{getBuildingNumberErrorMsg()}}
                    </mat-error>
                    </mat-form-field>
              
                <mat-form-field appearance="outline">
                        <mat-label>{{ 'apartment.apartmentNumber' | translate }}</mat-label>
                        <input matInput formControlName="apartmentNumber">
                    <mat-error *ngIf="apartmentNumber?.invalid && (apartmentNumber?.dirty || apartmentNumber?.touched)">
                        {{getApartmentNumberErrorMsg()}}
                    </mat-error>
                    </mat-form-field>
              
                <mat-form-field appearance="outline">
                        <mat-label>{{ 'apartment.zipCode' | translate }}</mat-label>
                        <input matInput formControlName="zipCode">
                        <mat-error *ngIf="zipCode?.invalid && (zipCode?.dirty || zipCode?.touched)">
                        {{getZipCodeErrorMsg()}}
                    </mat-error>
                </mat-form-field>
          
                <mat-form-field appearance="outline">
                    <mat-label>{{ 'apartment.cityName' | translate }}</mat-label>
                    <input matInput formControlName="cityName">
                    <mat-error *ngIf="cityName?.invalid && (cityName?.dirty || cityName?.touched)">
                        {{getCityNameErrorMsg()}}
                    </mat-error>
                </mat-form-field>
          
                <mat-form-field appearance="outline">
                    <mat-label>{{ 'apartment.voivodeship' | translate }}</mat-label>
                    <input matInput formControlName="voivodeship">
                    <mat-error *ngIf="voivodeship?.invalid && (voivodeship?.dirty || voivodeship?.touched)">
                        {{getVoivodeshipErrorMsg()}}
                    </mat-error>
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Numer telefonu</mat-label>
                    <input matInput formControlName="phoneNumber">
                    <mat-error *ngIf="phoneNumber?.invalid && (phoneNumber?.dirty || phoneNumber?.touched)">
                        {{getPhoneNumberErrorMsg()}}
                    </mat-error>
                </mat-form-field>
                    <mat-form-field appearance="outline">
                        <mat-label>Preferowany język</mat-label>
                        <mat-select formControlName="preferedLanguage">
                        <mat-option *ngFor="let language of languages" [value]="language">
                            {{ language | translateLanguageType }}
                        </mat-option>
                    </mat-select>
                    </mat-form-field>
                </mat-card>
                <mat-card class="container-center-bottom">
                    <mat-select formControlName="language">
                        <mat-option>
                            <!-- <mat-option *ngFor="let meterType of meterTypes" [value]="meterType"> -->
                            <!-- {{ meterType | translateMeterType }} -->
                        </mat-option>
                    </mat-select> 
                </mat-card>
            </div>  
            <mat-card class="container-right">
                <!-- <div class="title-card">
                    {{ 'profile.card' | translate }}
                </div> -->
                      <app-credit-card
                        [cardNumber]="cardNumber"
                        [cardHolderName]="cardHolderName"
                        [cardExpiryYear]="cardExpiryYear"
                        [cardExpiryMonth]="cardExpiryMonth"
                      ></app-credit-card>
                      <div class="layout-column" novalidate>
                        <mat-form-field appearance="outline" class="mt-20">
                            <mat-label>{{ 'creditCard.number' | translate }}</mat-label>
                            <input matInput
                                formControlName="number"
                                autocomplete="off"
                                data-test-id="number-input"
                                maxlength="16">
                            <mat-error *ngIf="form.controls['number']?.invalid && (form.controls['number']?.dirty || form.controls['number']?.touched)">
                                {{ getCardNumberErrorMsg() }}
                            </mat-error>
                        </mat-form-field>
                        
                        <mat-form-field appearance="outline">
                            <mat-label>{{ 'creditCard.name' | translate }}</mat-label>
                            <input matInput
                                formControlName="name"
                                autocomplete="off"
                                data-test-id="name-input">
                                <mat-error *ngIf="form.controls['name']?.invalid && (form.controls['name']?.dirty || form.controls['name']?.touched)">
                                    {{ getCardNameErrorMsg() }}
                                </mat-error>
                        </mat-form-field>
                          <div class="layout-row card-info">
                            <section class="layout-column">
                              <div class="flex">
                                <mat-form-field appearance="outline" class="small-field">
                                    <mat-label>{{ 'creditCard.month' | translate }}</mat-label>
                                  <input matInput
                                         formControlName="month"
                                         data-test-id="month-input"
                                         autocomplete="off"
                                         maxlength="2"
                                         placeholder="••">
                                    <mat-error *ngIf="form.controls['month']?.invalid && (form.controls['month']?.dirty || form.controls['month']?.touched)">
                                        {{ getMonthErrorMsg() }}
                                    </mat-error>
                                </mat-form-field>
                          
                                <mat-form-field appearance="outline" class="small-field">
                                    <mat-label>{{ 'creditCard.year' | translate }}</mat-label>
                                  <input matInput
                                         formControlName="year"
                                         data-test-id="year-input"
                                         autocomplete="off"
                                         maxlength="2"
                                         placeholder="••">
                                    <mat-error *ngIf="form.controls['year']?.invalid && (form.controls['year']?.dirty || form.controls['year']?.touched)">
                                        {{ getYearErrorMsg() }}
                                    </mat-error>
                                </mat-form-field>
                              </div>
                            </section>
                          
                            <mat-form-field appearance="outline" class="small-field">
                            <mat-label>{{ 'creditCard.CVV' | translate }}</mat-label>
                              <input matInput
                                     formControlName="cvv"
                                     autocomplete="off"
                                     data-test-id="cvv-input"
                                     maxlength="3"
                                     placeholder="###">
                                     <mat-error *ngIf="form.controls['cvv']?.invalid && (form.controls['cvv']?.dirty || form.controls['cvv']?.touched)">
                                        {{ getCvvErrorMsg() }}
                                    </mat-error>
                            </mat-form-field>
                          </div>
                    </div>
                    <button mat-flat-button color="primary" (click)="submit()">Zapisz</button>
                  </mat-card>
            </div>
    </form>
</mat-card>