<mat-form-field appearance="fill">
  <mat-label>{{ 'dataTable.fastSearch' | translate }}</mat-label>
  <input matInput formControlName="lastname">
</mat-form-field>

<div class="container">
  <div class="filter">
    <h1>filtry</h1>
  </div>
  <div class="card-list">
    <mat-card class="card" *ngFor="let apartment of apartments">
        <img src="/assets/image/image-placeholder.png" class="container-1">

        <div class="container-2">
          <p>{{apartment.apartmentName}}</p>
          <p>Adres: </p>
          <p>Liczba umów najmu: {{apartment.leasesNumber}}</p>
        </div>

        <div class="container-3">
          <p class="income">Nierozliczony dochód:</p>
          <img src="assets/icons/pin.svg" alt="Pin Icon" class="pin" (click)="pinApartment()">
        </div>
    </mat-card>

    <mat-paginator *ngIf="totalElements > 0"
      [length]="totalElements" 
      [pageSize]="10"
      [pageSizeOptions]="[10, 25, 50]"
      (page)="onPageEvent($event)"
      >
    </mat-paginator>
  </div>

</div>  

