<div>
<div class="add-apartment-button">
  <button color="primary" mat-raised-button routerLink="/apartments/add">Dodaj Nieruchomość<mat-icon>add</mat-icon></button>
</div>
<div class="container">
  <div class="filter">
    
    <mat-form-field appearance="outline">
        <mat-icon matPrefix>search</mat-icon>
        <input matInput [formControl]="searchInput"  
                (input)="onSearchClick()" 
                placeholder="{{ 'dataTable.search' | translate }}">
        <button mat-icon-button matSuffix (click)="onCleanSearchClick()">
          <i class="fa-solid fa-xmark"></i>
            <mat-icon>close</mat-icon>
        </button>
    </mat-form-field>
  
    <mat-form-field>
      <mat-label>{{ 'dataTable.filter.sortDirection' | translate }}</mat-label>
      <mat-select [(ngModel)]="selectedSortDirection">
        <mat-option *ngFor="let sortDirection of sortDirections" [value]="sortDirection.value">
          {{ sortDirection.viewValue }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-label>{{ 'dataTable.filter.columnName' | translate }}</mat-label>
      <mat-select [(ngModel)]="selectedColumnName">
        <mat-option *ngFor="let columnName of columnsName" [value]="columnName.value">
          {{ columnName.viewValue }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-label>{{ 'dataTable.filter.leasesNumber' | translate }}</mat-label>
      <mat-select [(ngModel)]="selectedLeasesNumber">
          <mat-option *ngFor="let number of leasesNumbers" [value]="number">
              {{number}}
          </mat-option>
      </mat-select>
    </mat-form-field>

    <div style="display: flex; flex-direction: column; padding-bottom: 17px;">
      <p style="margin: 0;">{{ 'dataTable.filter.isRented' | translate }}</p>
      <mat-checkbox color="primary" class="rented-checkbox" [checked]="isRented === true" 
                    (change)="onCheckboxChange(true)">{{ 'common.yes' | translate }}</mat-checkbox>
      <mat-checkbox color="primary" class="rented-checkbox" [checked]="isRented === false" 
                    (change)="onCheckboxChange(false)">{{ 'common.no' | translate }}</mat-checkbox>
    </div>

    <button (click)="filter()" mat-flat-button color="accent" style="background-color: black; color: white;">{{ 'dataTable.button-filter' | translate }}</button>

  </div>
  <div class="card-list">
    <mat-card class="card" *ngFor="let apartment of apartments">
        <img *ngIf="!apartment?.image" src="/assets/image/image-placeholder.png" class="container-1" (click)="navigateToApartment(apartment.id)">
        <img *ngIf="apartment?.image" src="{{'/api/data/image/'+ apartment?.image}}" class="container-1" (click)="navigateToApartment(apartment.id)">

        <div class="container-2" (click)="navigateToApartment(apartment.id)">
          <p class="container-2-name">{{apartment.apartmentName}}</p>
          <p>{{apartment.cityName}}{{', ul.'}} {{apartment.streetName}} {{apartment.buildingNumber}}{{"/"}}{{apartment.apartmentNumber}}</p>
          <p>{{ 'apartment.card.leasesNumber' | translate }} {{apartment.leasesNumber}}</p>
        </div>

        <div class="container-3">
          <div class="pin-div">
            <i *ngIf="!apartment.pinned" class="fal fa-thumbtack" style="font-size: 22px; padding-top: 2px; cursor: pointer;" (click)="pinApartment(apartment.id, true)"></i>
            <i *ngIf="apartment.pinned" class="fas fa-thumbtack" style="font-size: 22px; padding-top: 2px; cursor: pointer;" (click)="pinApartment(apartment.id, false)"></i>
          </div>
          <p class="income">{{ 'apartment.card.unsettled-income' | translate }}</p>
          <div class="income-value">
            2137.34 zł
          </div>
        </div>
    </mat-card> 

    <mat-paginator *ngIf="totalElements > 0"
      [length]="totalElements" 
      [pageSize]="10"
      [pageSizeOptions]="[10, 25, 50]"
      (page)="onPageEvent($event)"
      >
    </mat-paginator>
  </div>

</div>  
</div>