.container {
    display: flex;
    box-sizing: border-box;
    flex-direction: row;
    align-items: flex-start;
}

.card-list {
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    flex: 1 1 auto;
}

.card {
    margin-bottom: 15px;
    display: flex;
    box-sizing: border-box;
    flex-direction: row;
    padding: 10px;
    cursor: pointer;
}

.container-1 {
    width: 220px;
    height: 165px;
    border-radius: 4px;
}

.container-2{
    flex: 1 1 auto;
    margin-left: 15px;
}

.container-3{
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    align-items: flex-end;
}

.income{
    flex: 1 1 auto;
}

.pin{
    width: 25px;
}


.filter {
    border-radius: 4px;
    margin-right: 20px;
    width: 300px;
    padding: 20px 20px 20px 20px;
    background-color: lightgray;
    display: flex;
    flex-direction: column;
    
}

::ng-deep .mat-mdc-form-field-has-icon-suffix .mat-mdc-text-field-wrapper {
    background-color: whitesmoke;
    border-radius: 4px;
}

::ng-deep .mat-mdc-form-field-has-icon-suffix .mat-mdc-text-field-wrapper:hover {
    background-color:rgb(236,236,236);
    border-radius: 4px;
}

::ng-deep .mdc-checkbox__native-control {
    background-color: red;    
}

.rented-checkbox{
    margin-left: -10px;
    margin-top: -5px;
    margin-bottom: -5px;
}

.container-2-name {
    font-weight: 700;
    font-size: 22px;
    line-height: 30px;
}

.add-apartment-button {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 15px;
}