<div class="searcher">
    <mat-form-field appearance="outline" class="border">
        <input [formControl]="searchInput" class="input-search" matInput (keydown.enter)="onSearchClick()" placeholder="{{ 'dataTable.search' | translate }}">
        <button mat-icon-button matPrefix (click)="onSearchClick()">
            <mat-icon>search</mat-icon>
        </button>
        <button mat-icon-button matSuffix (click)="onCleanSearchClick()">
            <mat-icon>close</mat-icon>
        </button>
    </mat-form-field>
</div>


<div class="container">
  <div class="filter">
    
  </div>
  <div class="card-list">
    <mat-card class="card" *ngFor="let apartment of apartments">
        <img src="/assets/image/image-placeholder.png" class="container-1">

        <div class="container-2">
          <p>{{apartment.apartmentName}}</p>
          <p>Adres: </p>
          <p>Liczba umów najmu: {{apartment.leasesNumber}}</p>
        </div>

        <div class="container-3">
          <p class="income">Nierozliczony dochód:</p>
          <img src="assets/icons/pin.svg" alt="Pin Icon" class="pin" (click)="pinApartment()">
        </div>
    </mat-card>

    <mat-paginator *ngIf="totalElements > 0"
      [length]="totalElements" 
      [pageSize]="10"
      [pageSizeOptions]="[10, 25, 50]"
      (page)="onPageEvent($event)"
      >
    </mat-paginator>
  </div>

</div>  

