.form{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.error{
    color: red;
    padding: 10px;
    text-align: center;
}

.button-login{
    height: 46px;
    font-size: 17px;
}
