<div class="layout">
    <div class="login-form" *ngIf="!authResponse.mfaEnabled">
        <div class="login-controls">
            <div class="logo-container">
                <div class="logo">
                    <mat-icon>person</mat-icon>
                </div>
                <div class="logo-text">
                    <span>{{ 'login.welcomeInRentowne' | translate }}</span>
                    <p>{{ 'login.enterData' | translate }}</p>
                </div>
            </div>
            <div class="field-container">
                <form [formGroup]="formGroup" class="form">
                    <mat-form-field appearance="outline">
                        <mat-label>{{ 'login.email' | translate }}</mat-label>
                        <input matInput formControlName="email">
                        <mat-error *ngIf="this.email?.invalid">
                            {{getEmailErrorMsg()}}
                        </mat-error>
                    </mat-form-field>
                    
                    <mat-form-field appearance="outline" class="password">
                        <mat-label>{{ 'login.password' | translate }}</mat-label>
                        <input [type]="hide ? 'password' : 'text'" matInput formControlName="password">
                        <mat-hint align="end" routerLink="/lost-password" class="lost-password-link">Zapomniałeś hasła?</mat-hint>
                        <mat-error *ngIf="this.password?.invalid">
                            {{getPasswordErrorMsg()}}
                        </mat-error>
                        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                        </button>
                    </mat-form-field>
                    <button mat-flat-button class="button-login" style="background-color: black; color: white;" (click)="submit()">{{ 'login.getIn' | translate }}</button>
                </form>
            </div>
        </div>
        <div style="padding-top: 15px;">
            <span>
                {{ 'login.doNotHaveAccount' | translate }}
            </span>
            <a routerLink="/register" class="registr-link">{{ 'login.register' | translate }}</a><br>
            <!-- <a routerLink="/lost-password" class="lost-password-link">Zapomniałeś hasła?</a> -->
        </div>
    </div>

    <div class="main-otp-container" *ngIf="authResponse.mfaEnabled">
        <div class="container">
            <div class="verify-text-container-1">
                <span class="verify-text-1">{{ 'login.tfa' | translate }}</span>
            </div>
            <div class="verify-text-container-2">
                <span class="verify-text-2">{{ 'login.addCode' | translate }}</span>
            </div>
            <ng-otp-input
                [ngClass]="{'red-border': invalidCode}" 
                (onInputChange)="onOtpChange($event)" 
                [config]="otpConfig"
            ></ng-otp-input>
            <div [ngClass]="getErrorClass()">
                Nieprawidłowy kod
            </div>
            <div class="btn-container">
                <button mat-flat-button color="primary" class="verify-code-btn" (click)="verifyCode()" [disabled]="otpLength !== 6">{{ 'login.confirmCode' | translate }}</button>
            </div>
        </div>
    </div>

</div>