.layout{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-container{
    display: flex;
    width: 388px;
    padding: 30px 40px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px; 
    border-radius: 5px;
    background: #FFF;
}

.head{
    display: flex;
    padding-bottom: 10px;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.logo{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px; 
    height: 40px; 
    border-radius: 50%; 
    background-color: #14539A; 
    color: #fff;
}

.welcome{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 4px;
}

.welcome-1{
    color: #000;
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.welcome-2{
    color: #000;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.01px;
}

.field-container {
    width: 100%;
}

.gap{
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.form{
    display: flex;
    flex-direction: column;
    //gap: 10px;
    width: 100%;
}

.hide{
    padding-bottom: 20px;
}

.lost-password-link {
    z-index: 1;
    margin-top: -16px;
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
    text-decoration: none;
    cursor: pointer;
}

.mat-mdc-unelevated-button.mat-mdc-button-base, .mat-mdc-outlined-button.mat-mdc-button-base {
    min-height: 45px;
    padding: 12px;
}

.button-text {
    font-size: 18px;
    text-align: center;
    letter-spacing: -0.01px;
    font-weight: 700;
}

.button{
    margin: 10px 0 10px 0;
}

.registr-link {
    color: #14539A;
    text-decoration: none;
    cursor: pointer;
}

.registr-link:hover {
    color: #071c33;
}


.main-otp-container {
    padding: 30px 40px;
    width: 388px;
    background-color: white;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.error-code-empty {
    margin-left: 48px;
    font-size: 12px;
    color: white;
    padding: 5px 0 5px 0;
}

.error-code-visible {
    margin-left: 16px;
    font-size: 10px;
    color: red;
    padding: 1px 0 9px 0;
}


.container {
    display: flex;
    flex-direction: column;
}

.btn-container {
    // margin-top: 5px;
    display: flex;
    justify-content: center;
}

.verify-code-btn{
    width: 100%;
    font-size: 18px;
    text-align: center;
    letter-spacing: -0.01px;
    font-weight: 700;
}

.verify-text-container-1 {
    display: flex;
    justify-content: center;
    letter-spacing: -0.01px;
    padding-bottom: 10px;
}

.verify-text-container-2 {
    display: flex;
    justify-content: center;
}

.verify-text-1 {
    font-size: 20px;
    font-weight: 700;
}

.verify-text-2 {
    font-size: 14px;
}

.red-border .each_input {
    border: 2px solid red !important;
    width: 10px !important;
}
