<div class="layout">
    <div class="main-container" *ngIf="!authResponse.mfaEnabled">
        <div class="head">
            <mat-icon class="logo">person</mat-icon>
            <div class="welcome">
                <div class="welcome-1">
                    {{ 'login.welcomeInRentowne' | translate }}
                </div>
                <div class="welcome-2">
                    {{ 'login.enterData' | translate }}
                </div>
            </div>
        </div>
        <div class="field-container">
            <form [formGroup]="formGroup" class="form">
                <div class="gap">
                    <mat-form-field appearance="outline">
                        <mat-label>{{ 'login.email' | translate }}</mat-label>
                        <input matInput formControlName="email">
                        <mat-error *ngIf="this.email?.invalid">
                            {{getEmailErrorMsg()}}
                        </mat-error>
                    </mat-form-field>
                    
                    <mat-form-field appearance="outline" class="password">
                        <mat-label>{{ 'login.password' | translate }}</mat-label>
                        <input [type]="hide ? 'password' : 'text'" matInput formControlName="password">
                        <mat-error *ngIf="this.password?.invalid">
                            {{getPasswordErrorMsg()}}
                        </mat-error>
                        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                        </button>
                    </mat-form-field>
                </div>
                <div align="end" routerLink="/lost-password" class="lost-password-link">Zapomniałeś hasła?</div>
                <button mat-flat-button color="primary" (click)="submit()" class="button">
                    <span class="button-text">{{ 'login.getIn' | translate }}</span>
                </button>
                <div style="padding-top: 8px;">
                    <div style="display: flex; justify-content: center; gap: 3px;">
                        <span>
                            {{ 'login.doNotHaveAccount' | translate }}
                        </span>
                        <a routerLink="/register" class="registr-link">{{ 'login.register' | translate }}</a><br>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div class="main-otp-container" *ngIf="authResponse.mfaEnabled">
        <div class="container">
            <div class="verify-text-container-1">
                <span class="verify-text-1">{{ 'login.tfa' | translate }}</span>
            </div>
            <div class="verify-text-container-2">
                <span class="verify-text-2">{{ 'login.addCode' | translate }}</span>
            </div>
            <ng-otp-input
                [ngClass]="{'red-border': invalidCode}" 
                (onInputChange)="onOtpChange($event)" 
                [config]="otpConfig"
            ></ng-otp-input>
            <div [ngClass]="getErrorClass()">
                Nieprawidłowy kod
            </div>
            <div class="btn-container">
                <button mat-flat-button color="primary" class="verify-code-btn" (click)="verifyCode()" [disabled]="otpLength !== 6">{{ 'login.confirmCode' | translate }}</button>
            </div>
        </div>
    </div>
</div>