.form{
    display: flex;
    flex-direction: column;
    gap: 7px;
    width: 100%;
}

.button-login{
    height: 46px;
    font-size: 17px;
}

.field-container {
    width: 350px; 
}

.logo-text p {
    margin: 0;
    font-size: 15px;
}

.layout{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-form {
    background-color: white;
    border-radius: 10px;
    width: 420px;
    height: 380px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 5px;
}

.login-controls {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 18px;
}

.logo-container {
    display: flex;
    align-items: center; 
    gap: 15px; 
    margin-bottom: 10px;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px; 
    height: 40px; 
    border-radius: 50%; 
    background-color: #000; 
    color: #fff;
}

.logo-text {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

mat-icon {
    font-size: 24px;
    line-height: 24px;
}

.logo-text span {
    font-size: 20px;
    font-weight: 500;
}

.registr-link {
    color: blue;
    text-decoration: none;
}

.registr-link:hover {
    color: #00004f;
}

.lost-password-link {
    z-index: 1;
    margin-top: -34px;
    font-size: 12px;
    text-decoration: none;
}

.lost-password-link:hover {
    color: blue;
    cursor: pointer
}

.password{
    padding-bottom: 5px;
}

.main-otp-container {
    width: 497px;
    height: 221px;
    background-color: white;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.error-code-empty {
    margin-left: 48px;
    font-size: 12px;
    color: white;
    padding: 5px 0 5px 0;
}

.error-code-visible {
    margin-left: 48px;
    font-size: 12px;
    color: red;
    padding: 5px 0 5px 0;
}


.container {
    display: flex;
    flex-direction: column;
}

.btn-container {
    // margin-top: 5px;
    display: flex;
    justify-content: center;
}

.verify-code-btn{
    width: 150px;
}

.verify-text-container-1 {
    display: flex;
    justify-content: center;
    padding-bottom: 10px;
}

.verify-text-container-2 {
    display: flex;
    justify-content: center;
}

.verify-text-1 {
    font-size: 20px;
    font-weight: 500;
}

.verify-text-2 {
    font-size: 15px;
}

.red-border .each_input {
    border: 2px solid red !important;
}

