@import "variables.scss";
//=======================================================GLOBAL STYLES============================================================================
body,
html{
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Roboto, "Helvetica Neue", sans-serif;

}

.content {
    padding: 20px 300px 20px 300px;
    background-color: $lightgray;
    flex: 1 1 auto;
}

.footer {
    flex-direction: column;
}


//==============================================================================================================================================
